/* Import JetBrainsMono Nerd font for textual icons */
@font-face {
  font-family: "JetBrainsMonoNerd";
  src: url("../../fonts/JetBrainsMonoNerdFontMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMonoNerd";
  src: url("../../fonts/JetBrainsMonoNerdFontMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Unite the box model */
*, *::before, *::after { box-sizing: border-box; }

/* Dark mode color scheme */
body {
    font-family: "JetBrainsMonoNerd", monospace;
    font-size: 25px;
    background-color: black;
    color: white;
}

.display-container {
    width: fit-content;
    margin: 50px auto 0;
}


/* A dashboard div holding a button */
.back-button {
    min-height: 0px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button style on hover or pressing shortcut */
.back-button:hover,
.db-button-select {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}
