@import url("/utils.css");

/* Dark mode color scheme */
body {
    font-family: "JetBrainsMonoNerd", monospace;
    font-size: 25px;
    background-color: black;
    color: white;
    margin: 0px;
}

.display-container {
    width: 75%;
    height: 100vh;
    margin: 0 auto 0;
    padding: 50px 0px;

    display: flex;
    flex-direction: column;
}

.cjs-project-container {

    flex-grow: 1;
    overflow: scroll;
}
