*, *::before, *::after { box-sizing: border-box; } /* Unite the box model */

/* Dark mode color scheme */
body {
    background-color: black;
    color: white;
}

/* Dashboard container grid holding the header and the buttons */
.db-container {
    width: fit-content;
    max-width: 100%;
    margin: 100px auto 0;

    display: grid;
    grid-template-rows: 1fr 210px;
    row-gap: 20px;
}

/* Dashboard header holding the text art */
.db-header {
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Dashboard section holding the buttons */
.db-buttons {
    min-height: 0px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
}

/* A dashboard div holding a button */
.db-button {
    min-height: 0px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.db-button:hover {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}
