/* Import JetBrainsMono Nerd font for textual icons */
@font-face {
  font-family: "JetBrainsMonoNerd";
  src: url("/fonts/JetBrainsMonoNerdFontMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMonoNerd";
  src: url("/fonts/JetBrainsMonoNerdFontMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Unite the box model */
*, *::before, *::after { box-sizing: border-box; }

/* Dashboard section holding the buttons */
.db-buttons {
    min-height: 0px;

    display: grid;
    row-gap: 10px;
}

/* A dashboard div holding a button */
.db-button {
    min-height: 75px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button style on hover or pressing shortcut */
.db-button:hover,
.db-button-select {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}
