/* Import JetBrainsMono Nerd font for textual icons */
@font-face {
  font-family: "JetBrainsMonoNerd";
  src: url("/fonts/JetBrainsMonoNerdFontMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMonoNerd";
  src: url("/fonts/JetBrainsMonoNerdFontMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Unite the box model */
*, *::before, *::after { box-sizing: border-box; }

/* Dark mode color scheme */
body {
    font-family: "JetBrainsMonoNerd", monospace;
    font-size: 25px;
    background-color: black;
    color: white;
    margin: 0px;
}

/* A general display container for nav pages, holds flex-grow-containers and buttons*/
.display-container {
    width: 75%;
    height: 100vh;
    margin: 0 auto 0;
    padding: 50px 0px;

    display: flex;
    flex-direction: column;
}

/* A reusable flex-grow and scroll on overflow data container */
.flex-grow-container {
    flex: 1 1 0%;
    min-height: 0;
    overflow: auto;
}

/* A reusable column wise flex container class */
.flex-container {
    min-height: 0px;

    display: flex;
    flex-direction: column;
}

/* A div button class */
.button {
    padding: 20px 10px;
    font-size: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}

/* Button style on hover or pressing shortcut */
.button:hover,
.button-select {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}

/* Solid divider (primary dividers, rendered above back button) */
.divider {
    border: none;
    border-top: 2px solid; 
    margin: 10px 0;
    width: 100%;
}

/* Dashed divider (secondary dividers, rendered within md text) */
.markdownbody hr,
hr {
    border: none;
    border-top: 2px dashed;
    margin: 10px 0;
    width: 99%;
}
